body{

  font-family: 'gist_uprightregular';
  font-size: 0.8em;
  text-transform: lowercase;
}

header{
  padding: 3em;
  position: fixed;
  right: 0em;
  top: 0em;
  height: 75%;
  float: right;
  background-color: rgba(10,10,10,0.8);
  background-image: url(../images/embellishment2.png);

  border-radius: 0px 0px 100% 100%;

  z-index: 3;
}

nav a{
  display: block;
  font-size: 3em;
  margin-left: 2em;
}

section{
  z-index: 2;
  padding: 2em;
  width: 23em;
  background-image: url(../images/embellishment.png);
  background-repeat: no-repeat;
  background-position: 100% 7%;

}

article{
  z-index: 4;
  margin: 2em;
  padding: 2em;
  background-color: rgba(0,0,0,0.75);

  border-radius: 1em 0em 1em 1em;
}

#bgSvg{
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

.svgContainer{
  background-image: none;
}

h1{
  font-family: 'gistextrabold';
  font-size: 5em;
  color: white;
}

h2,h3,h4,h5,h6{
  font-family: 'wausauregular';
  color: moccasin;
  font-size: 3.5em;
}

p{
  color: white;
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}

a[href="#portfolio"]{
  display: none;
}

iframe{
  width: 300px;
}

img{
  width: 15em;
}

#portfolio{
  display: none;
}

@media screen and (max-device-width: 1081px){
  h1{
    font-size: 4em;
  }
  header{
    padding: 3em;

    background-color: transparent;
    background-image: none;
    float: none;
    position: static;
    height: auto;
  }
}