body{

  font-family: 'gist_uprightregular';
  font-size: 0.8em;
  text-transform: lowercase;
  background-color: #999;
  background: linear-gradient(to bottom right, #999, black)
  background-image: url(../images/bg-tile.png);
}

header{
  padding: 3em;
  position: fixed;
  left: 35em;
  top: -5.4em;
  height: 100%;
  float: right;
  z-index: 3;
}

nav a{
  display: inline;
  font-size: 3em;
}

section{
  z-index: 2;
  padding: 2em;
  width: 23em;
}

article{
  z-index: 4;
  margin: 1em;
  padding: 0em 2em;
  background-color: rgba(0,0,0,0.05);

  border: 1px solid white;

  border-radius: 4em 0em 1em 1em;
}

#bgSvg{
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

.svgContainer{
  background-image: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'wausauregular';
  color: darkgray;
  font-size: 3.5em;
  mix-blend-mode: multiply;
}

p{
  color: white;
  background-blend-mode: multiply;
}

a{
  text-decoration: none;
  color: darkgray;
  mix-blend-mode: darken;
}
a:visited{
  text-decoration: none;
  color: darkgray;
}
a:hover{
  text-decoration: none;
  color: darkgray;
}

a[href="#portfolio"]{
  display: none;
}

iframe{
  width: 300px;
}

img{
  width: 15em;
}

#portfolio{
  display: none;
}

circle{
  mix-blend-mode: multiply;
  background-blend-mode: difference;
}

@media screen and (max-width: 1081px){
  h1{
    font-size: 4em;
  }
  header{
    padding: 3em;
    display: block !important;
    background-color: transparent;
    background-image: none;
    float: none;
    position: static;
    height: auto;
  }
}

@media screen and (min-width: 1081px) {
  /*animations*/
  /* Pulse */
  @-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(3.1);
      transform: scale(3.1);
    }

    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  @keyframes pulse {
    25% {
      -webkit-transform: scale(3.1);
      transform: scale(3.1);
    }

    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  .pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}