html{}
body{
  font-family: 'Flamenco', sans-serif;
  font-weight: lighter;
  background-color: rgba( 231, 123, 24, 0.7  );
  background-image: url(../images/happydays.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;

  color: white;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0.75em;
  background-color: black;
  background-blend-mode: hard-light;
  z-index: 2;
}

header h1{
  display: inline;
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

h2{
  color: #222;
  padding-top: 2em;
}

nav{
  color: white;
  display: inline;
}

nav a{
  margin-left: 4em;
}

footer{
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0.75em;
  z-index: 3;
}

footer nav{
  position: relative;
  left: -5em;
}

footer p{
  float: right;
  margin-top: -5em;
  margin-right: -3em;
  transform: rotate(270deg);
}

#flair{
  position: fixed;
  top: 15%;
  right: 15%;
  z-index: -1;
}

section{
  background-color: transparent;
  padding: 1em;
  margin: 1em auto;
  border-radius: 5px;

  background-blend-mode: color-dodge;
}

article{
  background-color: rgba(233, 177, 8, 0.8);
  background-image: url(../images/nick.png);
  background-position: 10em 5em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 21em;

  border-radius: 15px 0px 0px 0px;
  padding: 1em;
  margin: 3em;
}

#academic article, #personal article, #personal article{
  width: 33em;
}

article h2{
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

body > section{
  background-color: transparent;
}

button{
  color: black;
}

i{
  font-family: 'VT323', monospace !important;
  background-blend-mode: multiply;
  opacity: 0.85;
  margin: 3px;
  position: relative;
  top: 2px;
}

#portfolio{
  width: 60em;
  margin: 1em auto;
  clear: both;
}

.portfolio > div > div{
  height: 10em;
  width: 45em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 921px) {
    article {
       width: auto;
    }
}
