html{}
body{
  font-family: 'Flamenco', sans-serif;
  font-weight: lighter;
  background-color: rgba( 231, 123, 24, 0.7  );
  background-image: url(../images/happydays2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;

  color: white;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0.75em;
  background-color: black;
  background-blend-mode: hard-light;
  z-index: 2;
}

header h1{
  display: inline;
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

h2{
  color: #222;
  padding-top: 2em;
}

h3{
  font-family: 'VT323', monospace !important;
}

nav{
  color: white;
  display: inline;
}

nav a{
  margin-left: 4em;
}

footer{
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0.75em;
  z-index: 3;
}

footer nav{
  position: relative;
  left: -5em;
}

footer p{
  float: right;
  margin-top: -5em;
  margin-right: -3em;
  transform: rotate(270deg);
}


#spinner{

  position: fixed;
  max-width: 10em;
  top: 40%;
  right: 35%;
  z-index: -1;
}

#spinnerText{
  font-family: 'VT323', monospace;
  background-blend-mode: multiply;
  opacity: 0.85;
  margin: 3px;
  position: relative;
  top: 2px;
}

section{
  background-color: transparent;
  padding: 1em;
  margin: 1em auto;
  border-radius: 5px;

  background-blend-mode: color-dodge;
}

article{
  font-family: 'VT323', monospace !important;
  background-color: rgba(233, 177, 8, 0.8);
  background-image: url(../images/nick.png);
  background-position: 10em 5em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 21em;

  border-radius: 15px 0px 0px 0px;
  padding: 1em;
  margin: 3em;
}

#academic article, #personal article, #personal article{
  width: 33em;
}

article h2{
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

body > section{
  background-color: transparent;
}

button{
  color: black;
}

iframe{
  height: 250px;
  width: 300px;
}

#portfolio{
  padding: 1em;
  margin: 1em auto;
  clear: both;
}

.portfolio > div > div{
  width: 45em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
}

article.portfolio{
  width: auto;
}

@media screen and (max-width: 921px) {
  body{
  }
  nav a{
    display: block;
    clear: both;
  }
  img{
    width: 15em;
  }
  article {
    width: auto !important;
    margin: 0;
  }
  article.portfolio{
    width: inherit;
  }
  div{
    width: inherit;
  }

  footer{
    position: inherit;
  }

  #spinner{ display: none; }
  .portfolio > div > div{
    width: inherit;
    margin: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
  }
}
